<a href="https://colab.research.google.com/github/davidpower007/4GeeksAcademy/blob/master/bar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:

import plotly.express as px
import pandas as pd

In [16]:
url = 'https://raw.githubusercontent.com/it-ces/Datasets/refs/heads/main/barbies_prices.csv'

In [17]:
df = pd.read_csv(url)

In [18]:
df.head()

           price     job
0   89591.234959  Doctor
1  126423.101675  Doctor
2   96162.078714  Doctor
3   90724.919537  Doctor
4   75536.576945  Doctor

In [19]:
df.shape

(260, 2)